<h1>Bootstrap starter template</h1>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

<br>

<div class="well">
  <!-- This should have width and height. -->
  <h3>Image</h3>
  <%= img '/images/icon.png' %>

  <h3>Embed Image</h3>
  <div id="image_embedding_test">
    <!-- This should have a CSS background that uses a data: URI. --> 
    <!-- Inspect that <div> to see. -->
  </div>
</div>