body {
  background-color: #fff;
  background: -webkit-linear-gradient(#007ab7, white) left no-repeat;
  background: -moz-linear-gradient(#007ab7, white) left no-repeat;
  background: -ms-linear-gradient(#007ab7, white) left no-repeat;
  background: -o-linear-gradient(#007ab7, white) left no-repeat;
  background: linear-gradient(#007ab7, white) left no-repeat; }

.hero-unit {
  background-color: #66b7e0;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4); }
