@import 'bourbon/bourbon';

body {
  background-color: #fff;
  @include background(linear-gradient(shade(#08c, 10%), #fff) left no-repeat);
}

.hero-unit {
  background-color: tint(#08c, 40%);
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.4);
}
